body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    color: #000000;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    color: #333;
    background-color: #f4f4f4;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #0f8aee;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    color: #1756cc;
}


section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


article {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}