body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: rgb(30, 54, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 15pt;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(244, 248, 4);
}


section {
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

#proyectos .perfil-card {
    width: 90%;
    max-width: 1000px;
    margin: 30px;
}

#proyectos ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

#proyectos li {
    background-color: #cbe2f0;
    border: 1px solid #5f6369;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

#proyectos li:hover {
    background-color: #1e3661;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.perfil-section .texto-perfil{
    font-size: 13pt;
}

#proyectos li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: #1e3661;
    text-decoration: none;
}

#proyectos li:hover a {
    color: white
}

.perfil-card {
    font-size: 15pt;
    background-color: rgb(153, 171, 200);
    border-radius: 16px;
    padding: 24px;
    width: 70%;
    margin: 30px;
}

.perfil-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #ccc;
}

.perfil-info {
    text-align: left;
}

.perfil-nombre {
    color: black;
    font-size: 16pt;
    margin: 0;
}

.perfil-cargo {
    color: black;
    font-size: 11pt;
    margin: 4px;
}

.perfil-section h3 {
    text-align: left;
    color: black;
    font-size: 20pt;
    margin-bottom: 6px;
}

.perfil-section p {
    color: black;
    font-size: 10pt;
    text-align: justify;
}

.perfil-linea {
    border: 2px;
    border-top: 2px solid black;
    margin: 6px;
    display: block;
}

.perfil-card h3 {
    text-align: center;
}

.contacto-card {
    font-size: 15pt;
    text-align: center;
    background-color: rgb(153, 171, 200);
    border-radius: 16px;
    padding: 24px;
    width: 70%;
    margin: 30px;
}

.contacto-linea {
    border: 2px;
    border-top: 2px solid black;
    margin: 6px;
    display: block;
}

input {
    width: 300px;
    height: 20px;
}

textarea {
    width: 300px;
}

#contacto .perfil-card {
    background-color: rgb(153, 171, 200);
    text-align: center;
}

#contacto form {
    display: inline-block;
    text-align: left;
}

#contacto label {
    display: block;
    margin-top: 10px;
}

/* mascotas.html configuraciones */
.galeria-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    width: 100%;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
    max-width: 1200px;
}

.card {
    width: 300px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(49, 49, 49);
    background-color: rgb(200, 213, 223);
}

.card-header {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: block;
    border-radius: 10px;
}

.card-body {
    color: rgb(82, 82, 82);
}

.card-title {
    text-align: center;
    font-size: 16pt;
    margin-bottom: 0px;
}


.card-description {
    text-align: justify;
    margin-top: 5px;
    font-size: 12pt;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}