body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    color: #000000;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    color: #dbdee6;
    background-color: #1B4079;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: #f0e2e2;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    color: #CBDF90;
}


section {
    background: #1b41793b;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #000000;
}



img {
    display: block;
    margin: 10px;
    border-radius: 5px;
}